{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% block head %}
<title>{{sysSettings.siteName}} - {{title}}</title>

{% endblock %}

{% block body %}
{% if channelData is defined %}
<div class="container-fluid justify-content-center" style="width:100%">
    <div class="jumbotron shadow mt-2 p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 no-stream-jumbo">
                <div>
                    <img class="shadow" src="/images/{{channelData.imageLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
                </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-12">
                <div class="viewerText">
                    <h2 class="display-5"><b>{{channelData.channelName}}</b></h2>
                    <a href="/streamers/{{channelData.owningUser}}/">
                        <h2 class="display-5">{{channelData.owningUser|get_userName}}</h2>
                    </a>
                    {% if channelData.stream|length > 0 %}
                    <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                    {% else %}
                    <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                    {% endif %}
                    {% if channelData.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                    <span>
                        <p>{{channelData.description}}</p>
                    </span><br>
                    <a href="/view/{{channelData.channelLoc}}" class="btn btn-primary mt-2">View Live Channel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if openStreams %}

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for stream in openStreams %}
            <div class="displayCard py-1 pr-2">
                <a href="/view/{{stream.channel.channelLoc}}/">
                    <div>
                        <img class="shadow lazy" {% if stream.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                            onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{stream.channel.channelLoc}}.png">
                    </div>
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{stream.streamName|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{stream.channel.channelName}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{stream.topic|get_topicName}}<br>
                        <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span> {% if stream.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer pt-2">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if userChannels %}
<div class="container-fluid p-2" id="index-live-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Channels by {{title}}</b></div>
    </div>

    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for channel in userChannels %}
                <div class="displayCard py-1 pr-1">
                    <a href="/channel/{{channel.id}}/">
                        <img class="shadow lazy" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{channel.channelName}}</b></div>
                            {{channel.topic|get_topicName}}<br>
                            <b> {{channel.owningUser|get_userName}}</b><br>
                            {% if channel.stream|length > 0 %}
                            <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                            {% else %}
                            <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                            {% endif %}
                            {% if channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                            <span class="displayCard-footer">
                                <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{channel.views}}</span>
                            </span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if recordedVids %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for video in recordedVids %}
                <div class="displayCard py-1 pr-1">
                    <a href="/play/{{video.id}}">
                        <div>
                            <img class="shadow lazy" {% if video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/videos/{{video.thumbnailLocation}}">
                        </div>
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{video.channelName|limit_title}}</b></div>
                            <i class="fas fa-video mr-2"></i> {{video.channel.channelName}}<br>
                            <i class="fas fa-hashtag mr-2"></i> {{video.topic|get_topicName}}<br>
                            {% if video.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                            <span class="displayCard-footer">
                                <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{video.id|get_Video_Upvotes}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{video.views}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{video.length|hms_format}}</span>
                            </span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not recordedVids and not userChannels and not openStreams and not channelData %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="col">
            <p>Nothing to see here.</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    $('#search').on('input', function () {
        var query = document.getElementById("search").value.toLowerCase();
        $('.streamcard').each(function () {
            var $this = $(this);
            if ($this.text().toLowerCase().indexOf(query) === -1)
                $this.closest('.streamcard').hide();
            else $this.closest('.streamcard').show();
        });
    });
</script>
{% endblock %}