{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Administration Page</title>

<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>
<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12" style="margin-top:15px;">
            <ul class="nav nav-pills mb-3" id="admin-nav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" id="admin-nav-dashboard" href="#dashboard" data-toggle="pill" aria-controls="admin-nav-dashboard" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-settings" href="#adminSettings" data-toggle="pill" aria-controls="admin-nav-settings" aria-selected="false">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-users" href="#userList" data-toggle="pill" aria-controls="admin-nav-users" aria-selected="false">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-topics" href="#topicsList" data-toggle="pill" aria-controls="admin-nav-topics" aria-selected="false">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-channels" href="#channelsList" data-toggle="pill" aria-controls="admin-nav-channels" aria-selected="false">Channels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-streams" href="#streamsList" data-toggle="pill" aria-controls="admin-nav-streams" aria-selected="false">Streams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" id="admin-nav-backuprestore" href="#backuprestore" data-toggle="pill" aria-controls="admin-nav-backuprestore" aria-selected="false">Backup/Restore</a>
                </li>
            </ul>

            <div class="tab-content" id="admin-content">
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="admin-content-dashboard" id="dashboard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div>
                                    <h2><i class="fas fa-server"></i> Server Info</h2><br>
                                    <b><img src="/static/img/logo.png" width="64px" height="64px"> Open Streaming Platform</b><br>
                                    <div style="margin-left:70px;">
                                        <b><a href="https://gitlab.com/Deamos/flask-nginx-rtmp-manager">https://gitlab.com/Deamos/flask-nginx-rtmp-manager</a></b><br>
                                        <b>Server Version:</b> {{sysSettings.version}} <br>
                                        <b>Git Branch:</b> {{repoBranch}} <br>
                                        <b>Git Commit Hash:</b> {{repoSHA}}  {% if repoSHA != remoteSHA %} <span class="badge badge-success">Update Available!</span> {% else %} <span class="badge badge-secondary">No Update Available</span>{% endif %}<br>
                                        <b>Database Version:</b> {{appDBVer}} <br>
                                    </div>
                                </div><br>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-chart-bar"></i> Resource Usage</div>
                                    <div class="card-body">
                                        CPU<br>
                                        <div class="progress">
                                          <div id="cpuUsage" class="progress-bar bg-info" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div><br>
                                        Memory<br>
                                        <div class="progress">
                                          <div id="memoryUsage" class="progress-bar bg-danger" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div><br>
                                        Disk<br>
                                        <div class="progress">
                                          <div id="diskUsage" class="progress-bar" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-chart-bar"></i> Viewer Stats</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-6 col-md-12">
                                                <div class="callout callout-success"><h4>Current Stream Viewers</h4><br><h2>{{currentViewers}}</h2></div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="callout callout-primary"><h4>Total Viewers (30 days)</h4><br><h2>{{viewersTotal}}</h2></div>
                                            </div>
                                        </div>
                                        <div id="statChart">
                                            <canvas id="viewershipChart" width="400" height="400"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-settings" id="adminSettings">
                    <h5>Configuration Options</h5>
                      <form action="/settings/admin" enctype=multipart/form-data method="post">
                          <div class="row">
                              <div class="col-sm-12 col-md-6">
                                  <h4><i class="fas fa-server"></i> Server Settings</h4>
                                  Server Name: <input type="text" name="serverName" class="form-control" value="{{sysSettings.siteName}}"required>
                                  Server Hostname/IP Address: <input type="text" name="serverAddress" class="form-control" value="{{sysSettings.siteAddress}}" required>
                                  <hr>
                                  System Logo:
                                  <img src="{{sysSettings.systemLogo}}" width="32" height="32"><br>
                                  <input type="file" name="photo" class="form-control-file" value="Upload a Logo" style="margin-top:10px;+"><br>
                                  Theme:
                                  <select class="form-control" name="theme">
                                      {% for theme in themeList %}
                                      <option value="{{theme}}" {% if sysSettings.systemTheme == theme %} selected {% endif %}>{{theme}}</option>
                                      {% endfor %}
                                  </select>
                                  <hr>
                                  Allow Users to Register:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="registerSelect" name="registerSelect" {% if sysSettings.allowRegistration == True %} checked {% endif %}>
                                  <br>
                                  Require Users to Confirm their Email Addresses:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="emailValidationSelect" name="emailValidationSelect" {% if sysSettings.requireConfirmedEmail == True %} checked {% endif %}>
                                  <br>
                                  Allow Users to Record:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="recordSelect" name="recordSelect" {% if sysSettings.allowRecording == True %} checked {% endif %}>
                                  <br>
                                  Allow Users to Upload Video:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="uploadSelect" name="uploadSelect" {% if sysSettings.allowUploads == True %} checked {% endif %}>
                                  <br>
                                  Enable Adaptive Streaming (Can Cause Significant CPU Usage Per Stream)<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="adaptiveStreaming" name="adaptiveStreaming" {% if sysSettings.adaptiveStreaming == True %} checked {% endif %}>
                                  <br>
                                  Display Empty Channels, Streamers, and Topics<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="showEmptyTables" name="showEmptyTables" {% if sysSettings.showEmptyTables == True %} checked {% endif %}>
                                  <br>
                                  Globally Allow Comments (Can be Disabled on a Per Video Basis)<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="allowComments" name="allowComments" {% if sysSettings.allowComments == True %} checked {% endif %}>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                  <h4><i class="fas fa-envelope"></i> Email Settings</h4>
                                  SMTP Email From: <input type="email" name="smtpSendAs" class="form-control" value="{{sysSettings.smtpSendAs}}" required>
                                  SMTP Address: <input type="text" name="smtpAddress" class="form-control" value="{{sysSettings.smtpAddress}}" required>
                                  SMTP Port: <input type="number" name="smtpPort" class="form-control" value={{sysSettings.smtpPort}} required>
                                  SMTP Username:<input type="text" name="smtpUser" class="form-control" value="{{sysSettings.smtpUsername}}">
                                  SMTP Password<input type="password" name="smtpPassword" class="form-control" value="{{sysSettings.smtpPassword}}">
                                  SMTP SSL:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="smtpSSL" name="smtpSSL" {% if sysSettings.smtpSSL == True %} checked {% endif %}>
                                  <br>
                                  SMTP TLS:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="smtpTLS" name="smtpTLS" {% if sysSettings.smtpTLS == True %} checked {% endif %}>
                              </div>
                              <hr>
                          </div><br>
                          <div class="row">
                              <div class="col-12">
                                  <input type="hidden" value="system" id="settingType" name="settingType">
                                  <div class="form-row text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-users" id="userList">
                    <h5>User List <button class="btn btn-primary" data-toggle="modal" data-target="#newUserModal"><i class="fas fa-plus-square"></i> New User</button></h5>
                    <div class="container-fluid justify-content-center" style="width:100%;padding-top:15px;">
                        <div class="input-group">
                            <div class="input-group-prepend shadow">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid">

                    {% for user in userList %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow searchable">
                                    <div class="card-header {% if user.active == False %} bg-primary{% endif %} text-white">
                                        <b><a href="/streamers/{{user.id}}/">{{user.username}}</a></b>
                                        <div class="float-right">
                                            <a href="/settings/admin?action=toggleActive&setting=users&userID={{user.id}}" class="btn btn-sm {% if user.active == True %}btn-secondary {% else %} btn-success {% endif %} shadow"><i class="fas {% if user.active == True %}fa-user-slash{% else %}fa-user{% endif %}"></i></a>
                                            <a href="/settings/admin?action=delete&setting=users&userID={{user.id}}" class="btn btn-sm btn-danger shadow"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                          <div class="col-xl-1 col-sm-12">
                                            <img src="/images/{{user.pictureLocation}}" width="64px" height="64px" onerror="this.src='/static/img/user2.png';">
                                          </div>
                                          <div class="col-xl-2 col-sm-12">
                                            <i class="fas fa-at"></i> {{user.email}}<br>
                                          </div>
                                          <div class="col-xl-3 col-sm-12">
                                            <i class="fas fa-key"></i> Roles: <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Role</button>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Admin">Admin</a>
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Streamer">Streamer</a>
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=User">User</a>
                                            </div><br>
                                            {% for role in user.roles %}
                                            <span class="badge badge-info">{{role.name}} <a href="/settings/admin?action=delete&setting=userRole&userID={{user.id}}&roleID={{role.id}}"><i class="far fa-trash-alt"></i></a></span><br>
                                          {% endfor %}
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    </div>
                        <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <form action="/settings/admin" method="post" onsubmit="return passwordCheck()">
                              <div class="modal-header">
                                <h5 class="modal-title" id="newUserModalTitle">Create New User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" id="username" class="form-control" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="emailaddress">Email Address</label>
                                            <input type="text" name="emailaddress" id="emailaddress" class="form-control" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="password1">Password</label>
                                            <input type="password" name="password1" id="password1" class="form-control" required>
                                        </div>
                                        <br>
                                        <div class="col-12">
                                            <label for="password2">Confirm Password</label>
                                            <input type="password" name="password2" id="password2" class="form-control" required>
                                        </div>
                                    </div>
                                    <br>

                                  </div>
                                  <input type="hidden" value="newuser" id="settingType" name="settingType">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-success" value="Create">
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-topics" id="topicsList">
                    <h5>Topics List <div class="float-right"></div><button class="btn btn-primary" data-toggle="modal" data-target="#newTopicModal"><i class="fas fa-plus-square"></i> New Topic</button></h5></h5>
                    <div class="container-fluid">
                        {% for topic in topicsList %}
                        <div class="row">
                            <div class="col-12">
                                <form action="/settings/admin" enctype=multipart/form-data method="post">
                                <div class="card shadow">
                                  <div class="card-header">
                                    <div class="row">
                                      <div class="col-4">
                                        <input type="text" name="name" id="name" class="form-control" value="{{topic.name}}" required>
                                      </div>
                                      <div class="col-8">
                                          <div class="float-right">
                                            <button type="submit" class="btn btn-success shadow"><i class="fas fa-edit"></i></button>
                                            <a href="/settings/admin?action=delete&setting=topics&topicID={{topic.id}}" class="btn btn-danger shadow"><i class="far fa-trash-alt"></i></a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="card-body">
                                    <img width="284px" height="155px" src="/images/{{topic.iconClass}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                    <br><br>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" name=photo id="photo">
                                      <label class="custom-file-label" for="photo">Upload a Photo</label>
                                    </div>
                                    <input type="hidden" value="{{topic.id}}" id="topicID" name="topicID">
                                    <input type="hidden" value="topics" id="settingType" name="settingType">
                                  </div>
                                </div>
                                </form>
                                <br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal fade" id="newTopicModal" tabindex="-1" role="dialog" aria-labelledby="newTopicModalTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                          <form action="/settings/admin" enctype=multipart/form-data method="post">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newTopicModalTitle">Create New Topic</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" name="name" id="name" class="form-control" required>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                      <div class="col-12">
                                        <img width="284" height="155" src="/static/img/video-placeholder.jpg">
                                      </div>
                                </div>
                                <br>
                                <div class="row">
                                      <div class="col-12">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" name=photo id="photo">
                                            <label class="custom-file-label" for="photo">Upload a Photo</label>
                                          </div>
                                      </div>
                                </div>
                              </div>
                              <input type="hidden" value="topics" id="settingType" name="settingType">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-success" value="Create">
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-channels" id="channelsList">
                    <h5>Channels List</h5>
                    <div class="container-fluid justify-content-center" style="width:100%;padding-top:15px;">
                        <div class="input-group">
                            <div class="input-group-prepend shadow">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid">
                        {% for channel in channelList %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow searchable">
                                  <div class="card-header">
                                      <b><span class="video-title"><a href="/channel/{{channel.id}}/">{{channel.channelName}}</a></span></b>
                                    <div class="float-right"><a href="/settings/admin?action=delete&setting=channel&channelID={{channel.id}}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a></button></div>
                                  </div>
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-xl-2"><img class="channel-img" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';"></div>
                                      <div class="col-xl-3">
                                        <i class="fas fa-hashtag"></i> {{channel.topic|get_topicName}} <br>
                                        <i class="fas fa-user"></i> {{channel.owningUser|get_userName}} <br>
                                        <i class="fas fa-terminal"></i> {{channel.channelLoc}} <br>
                                        <i class="fas fa-eye"></i> {{channel.views}} <br>
                                        <i class="fas fa-hdd"></i> {{channel.channelLoc|get_diskUsage}} <br>
                                      </div>
                                      <div class="col-xl-4">
                                        <i class="fas fa-paragraph"></i> {{channel.description}}<br>
                                      </div>
                                      <div class="col-xl-2">
                                        <i class="fas fa-comment"></i> <span class="badge {% if channel.chatEnabled == True %} badge-success {% elif channel.chatEnabled == False %} badge-danger {% endif %}"> {{channel.chatEnabled}} </span> <br>
                                        <i class="fas fa-save"></i> <span class="badge {% if channel.record == True %} badge-success {% elif channel.record == False %} badge-danger {% endif %}"> {{channel.record}}</span> <br>
                                        <i class="fas fa-comments"></i> <span class="badge {% if channel.allowComments == True %} badge-success {% elif channel.allowComments == False %} badge-danger {% endif %}"> {{channel.allowComments}}</span> <br>
                                        <i class="fas fa-lock"></i> <span class="badge {% if channel.protected == True %} badge-success {% elif channel.protected == False %} badge-danger {% endif %}"> {{channel.protected}}</span><br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-streams" id="streamsList">
                    <h5>Stream List</h5>
                    <div class="container-fluid justify-content-center" style="width:100%;padding-top:15px;">
                        <div class="input-group">
                            <div class="input-group-prepend shadow">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid">
                        {% for stream in streamList %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow searchable">
                                  <div class="card-header"><span class="video-title"><a href="/view/{{stream.channel.channelLoc}}/"><b>{{stream.streamName}}</b></a></span></div>
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-xl-3 col-sm-12">
                                        <img width="100%" src="/live{% if stream.channel.record == True %}-rec{% endif %}/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';"><br>
                                      </div>
                                      <div class="col-xl-3 col-sm-12">
                                        <i class="fas fa-video"></i> {{stream.channel.channelName}} <br>
                                        <i class="fas fa-user"></i> {{stream.channel.owningUser|get_userName}} <br>
                                        <i class="fas fa-hashtag"></i> {{stream.channel.topic|get_topicName}} <br>
                                        <i class="fas fa-eye"></i> {{stream.currentViewers}} <br>
                                        <i class="fas fa-users"></i>{{stream.totalViewers}} <br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="admin-content-backuprestore" id="backuprestore">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <h4>Backup the OSP Database</h4>
                                <a href="/settings/admin?action=backup" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <h4>Restore the OSP Database</h4>
                                <p>** Restoring a backup will wipe all existing data! **</p>
                                <form action="/settings/admin" enctype=multipart/form-data method="post">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name=restoreData id="restoreData" required>
                                        <label class="custom-file-label" for="restoreData">Upload Backup File</label>
                                        <script>
                                            $('#restoreData').on('change',function(){
                                                //get the file name
                                                var fileName = $(this).val();
                                                //replace the "Choose a file" label
                                                $(this).next('.custom-file-label').html(fileName);
                                            })
                                        </script>
                                    </div>
                                    <br><br>
                                    <h5>Restore Options</h5>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" name="restoreVideos" id="restoreVideos">
                                      <label class="form-check-label" for="restoreVideos">
                                        Restore Recorded Video DB Table
                                      </label>
                                    </div>
                                    <br>
                                    <input type="hidden" value="dbRestore" id="settingType" name="settingType">
                                    <input type="submit" class="btn btn-warning" value="Restore">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function toggleDiv(selDiv){
        var divid = '#' + selDiv;
        $('.settingsOption').hide();
        $(divid).show();
    }
</script>

<script type="text/javascript" charset="utf-8">
    var conn_options = {
        'sync disconnect on unload':true
    };

    var socket = io();
</script>

<script>
    socket.on('connect', function() {
        socket.emit('getServerResources',{data:"0"});
        console.log('Sent Resource Request')
    });
</script>

<script>
    setInterval(function() {
      socket.emit('getServerResources',{data:"0"});
      console.log('Sent Resource Request')
    },10000 );
</script>

<script>
    socket.on('serverResources', function(msg) {
        console.log('Recieved:' + msg)

        $('#cpuUsage').attr('aria-valuenow', msg['cpuUsage']).css('width',msg['cpuUsage'] + '%');
        $('#cpuUsage').text(msg['cpuUsage'] + '%');

        $('#memoryUsage').attr('aria-valuenow', msg['memoryUsage']).css('width',msg['memoryUsage'] + '%');
        $('#memoryUsage').text(msg['memoryUsage'] + '%');

        $('#diskUsage').attr('aria-valuenow', msg['diskUsage']).css('width',msg['diskUsage'] + '%');
        $('#diskUsage').text(msg['diskUsage'] + '%');

    });
</script>
<script>
    var ctx = document.getElementById('viewershipChart').getContext('2d');
    ctx.canvas.width = 1024
    ctx.canvas.height = 380;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {

            datasets: [{
                label: "Live Viewers",
                fill: true,
                borderColor: 'rgb(40, 90, 150)',
                backgroundColor: 'rgb(40, 90, 150)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in statsViewsDay['live'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]},
                {
                label: "Video Viewers",
                fill: true,
                borderColor: 'rgb(90, 150, 40)',
                backgroundColor: 'rgb(90, 150, 40)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in statsViewsDay['recorded'] %}
                        {x:'{{entry['t']}}', y:{{entry['y']}}},
                    {% endfor %}
                ]
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD',
                        unit: 'day'
                    }
                }],
            }
        }
    });
</script>

<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.searchable').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.searchable').hide();
        else $this.closest('.searchable').show();
    });
});
</script>

{% endblock %}

