{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% block head %}
<title>{{sysSettings.siteName}} - {{title}}</title>

{% endblock %}

{% block body %}
{% if channelData is defined %}
<div class="container-fluid justify-content-center" style="width:100%">
    <div class="jumbotron shadow p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 no-stream-jumbo">
                <div>
                    <img class="shadow" src="/images/{{channelData.imageLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
                </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 viewerText">
                    <h2 class="display-5"><b><i class="fas fa-podcast"></i> {{channelData.channelName}}</b></h2>
                    <a href="/streamers/{{channelData.owningUser}}/">
                        <h2 class="display-5"><img width="34" height="34" class="userphoto" src="{{channelData.owningUser|get_pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{channelData.owningUser|get_userName}}</h2>
                    </a>
                    {% if channelData.stream|length > 0 %}
                    <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                    {% else %}
                    <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                    {% endif %}
                    {% if channelData.protected %}<span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                    <span>
                        <p>{{channelData.description}}</p>
                    </span><br>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <span class="float-right"><a href="/view/{{channelData.channelLoc}}" class="btn btn-primary">View Live Channel</a></span>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if openStreams %}
<div class="container-fluid p-2" id="index-live-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Live Now</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-between">
                {% for stream in openStreams %}
                <div class="video-card bg-dark mx-4" style="max-width: 45rem;">
                    <div class="row no-gutters">
                        <div class="video-card-header">
                            <a href="/view/{{stream.channel.channelLoc}}/">
                                <img class="shadow lazy" {% if stream.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                    onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} width="100%" data-src="/stream-thumb/{{stream.channel.channelLoc}}.png"></a>
                        </div>
                        <div class="video-card-body ml-3">
                            <b><i class="px-2 fas fa-tv"></i></b><span class="video-title"><a href="/view/{{stream.channel.channelLoc}}/"><b>{{stream.streamName|limit_title}}</b></a></span><br />
                            <b><i class="px-2 fas fa-podcast "></i></b><a href="/channel/{{stream.channel.id}}/"> {{stream.channel.channelName}}</a>
                            <span class="float-right"><span class="ml-4 px-2 badge badge-danger">Live</span>{% if stream.channel.protected %}<span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                            <b><i class="px-2 fas fa-hashtag"></i></b><a href="/topic/{{stream.topic}}/"> {{stream.topic|get_topicName}}<br></a>
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endif %}

{% if userChannels %}
<div class="container-fluid p-2" id="index-live-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Channels by {{title}}</b></div>
    </div>

    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for channel in userChannels %}
                <div class="channel-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="channel-card-header">
                        <a href="/channel/{{channel.id}}/">
                            <img class="shadow lazy" height="180" width="320" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';"></a>
                    </div>
                    <div class="channel-card-body">
                        <i class="fas fa-podcast mr-2"></i><span class="video-title"><a href="/channel/{{channel.id}}/"><b> {{channel.channelName}}</b></a></span>
                        <span class="float-right">
                            {% if channel.stream|length > 0 %}
                            <span class="badge badge-danger">Live</span>
                            {% else %}
                            <span class="badge badge-secondary">Offline</span>
                            {% endif %}
                        </span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamers/{{channel.owningUser}}"> {{channel.owningUser|get_userName}}</a>
                        {% if channel.protected %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                        <i class="fas fa-hashtag mr-2"></i> <a href="/topic/{{channel.topic}}/">{{channel.topic|get_topicName}}</a>
                        <span class="float-right"><i class="fas fa-users mr-2"></i> {{channel.views}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endif %}
{% if recordedVids %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for video in recordedVids %}
                <div class="video-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/play/{{video.id}}">
                            <img class="shadow lazy" {% if video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} width="100%" data-src="/videos/{{video.thumbnailLocation}}">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <i class="fas fa-tv mr-2"></i><span class="video-title"><a href="/play/{{video.id}}"><b> {{video.channelName|limit_title}}</b></a></span><br />
                        {% if video.channel.protected %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
                        <i class="fas fa-podcast mr-2"></i><a href="/channel/{{video.channel.id}}/"> {{video.channel.channelName}}</a>
                        <span class="float-right"><i class="fas fa-calendar-alt mr-2"></i> {{video.videoDate|normalize_date}}</span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamers/{{video.owningUser}}"> {{video.owningUser|get_userName}}</a>
                        <span class="float-right"><i class="fas fa-hashtag mr-2"></i></><a href="/topic/{{video.topic}}/"> {{video.topic|get_topicName}}</a></span><br />
                        <i class="fas fa-thumbs-up mr-2"></i> {{video.id|get_Video_Upvotes}}</span>
                        <i class="fas fa-eye mx-2"></i> {{video.views}}</span>
                        <i class="fas fa-comments mx-2"></i> {{video.id|get_Video_Comments}}</span>
                        <span class="float-right"><i class="fas fa-clock mr-2"></i> {{video.length|hms_format}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not recordedVids and not userChannels and not openStreams and not channelData %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="col">
            <p>Nothing to see here.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $('#search').on('input', function () {
        var query = document.getElementById("search").value.toLowerCase();
        $('.streamcard').each(function () {
            var $this = $(this);
            if ($this.text().toLowerCase().indexOf(query) === -1)
                $this.closest('.streamcard').hide();
            else $this.closest('.streamcard').show();
        });
    });
</script>
{% endblock %}